.index {
    background-color: #050b03;
}

.biografia {
    background-color: black;
}

.fondo1 {
    background-color: #08060b;
}

.fondo2 {
    background-color: #5d4699;
}

.drag {
    background-color: #050b03;
}

.contacto {
    background-color: #050b03;
}

.looks {
    background-color: #050b03;
    line-height: normal;
}

.colorBotonNavDrag {
    background-color: #e7c9bf;
}

.colorBotonNavBio {
    background-color: #699fad;
}

.colorBotonNavContacto {
    background-color: aliceblue;
}