
@mixin menu ($background, $justify-content) {
    background: $background;
    justify-content: $justify-content;    
}

@mixin logo {
    font-family: 'Lobster',cursive;
    font-size: 2.5em;    
}

