.colorNegro {
    color: black !important;
}

.colorRosa {
    color: #699fad !important;
}

.colorBeige {
    color: #e7c9bf !important;
}

.colorBlanco {
    color: aliceblue !important;
}

.sombra {
    text-shadow: 2px 2px 7px black, 2px 2px 7px black;
}

.colorGaleria {
    color: #c8a289 !important;
}

.colorBotonNavLooks {
    background-color: #c8a289;
}