@import "tipografias", "fondos", "variables", "mixin", "map";


/* INDEX */

.index__display {
    display: flex;
    width: 100%;
}

.index__izquierda {
    width: $split-screen;
    height: 700px;
}

.index__derecha {
    width: $split-screen;
    height: 700px;
    background: url(https://64.media.tumblr.com/afebdb935c2d9447482758ff282767c1/5fb3b48ca5ec49f8-60/s540x810/4af7728da9c9fb4c58d7991a46ba16c29e08ef57.gifv) no-repeat top right;
    background-size: cover;
    overflow-y: hidden;
}

.encabezado__index,
.encabezado {
    display: $display;
}

.encabezado__logo__index {
    @include logo;
    text-decoration: none;
    text-align: left;
    margin: 10px 10px 10px 10px;
    z-index: 10;
    transition: filter .5s;
}

.encabezado__logo {
    @extend .encabezado__logo__index;
    &:hover {
        filter: brightness(1.3) contrast(1.3);
        text-decoration: none;
    }
}

.encabezado__menu {
    font-family: $tipografia-titulos;
    display: flex;
    width: 100%;
    @include menu (inherit,flex-end);
    li {
        list-style: none;
        padding-left: 50px;
        margin-right: 10px;
        transition: filter .5s, font-size .2s;
        &:hover {
            font-size: 105%;
            filter: brightness(1.3) contrast(1.3);
            text-decoration: none;
        }
        a {
            text-decoration: none;
            text-align: right;
        }
    }
}
.encabezado__menu__index {
    @extend .encabezado__menu; 
    width: auto;
    justify-content: stretch;
    position: relative;
    right: $posicion-menu;
    position: fixed;
    z-index: 10;
}



.index__contenedor--texto {
    color: aliceblue;
    font-family: $tipografia-general;
    line-height: normal;
    margin: .5em 1em .5em 1em;
    h1 {
        font-size: 4em;
    }
    a {
        text-decoration: none;
        color: aliceblue;
    }
}

.index__footer {
    text-align: center;
    color: aliceblue;
    font-family: $tipografia-general;
    font-size: smaller;
    a {
        text-decoration: none;
        color: aliceblue;
        font-size: large;
        padding: 12px;
    }
}


/* BIOGRAFIA */

.biografia__1 {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: $tipografia-general;
    img {
        width: $split-screen;
        height: 100%;
        @supports (object-fit: cover) {
            .biografia__1 img {
                height: auto;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
    section {
        width: $split-screen;
        line-height: normal;
        margin: .5em;
        margin-top: -5%;
    }
}

.biografia__1--texto1 {
    font-size: 1rem;
    font-family: $tipografia-general;
}

.biografia__1--titulo {
    font-size: 5em;
    margin-top: 30%;
    font-family: $tipografia-general;
}

.biografia__2 {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: $tipografia-general;
    img {
        width: $split-screen;
        height: auto;
        @supports (object-fit: cover) {
            .biografia__2 img {
                height: auto;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
    section {
        width: $split-screen;
        line-height: normal;
        margin: .5em;
        a {
            text-decoration: none;
            color: aliceblue;
        }
    }
}
.biografia__3 {
    @extend .biografia__2;
    img {
        @supports (object-fit: cover) {
            .biografia__3 img {
                height: auto;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
}

.nav_bio {
    background-color: black !important;
    min-height: 3rem;
}


/* DRAG RACE */

.drag__tabla {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    h1 {
        width: $split-screen;
        height: auto;
        font-family: $tipografia-general;
        line-height: normal;
        font-size: 4em;
        text-shadow: 2px 2px 7px black, 2px 2px 7px black;
    }
    table {
        width: $split-screen;
        height: auto;
        font-family: $tipografia-general;
        line-height: normal;
        text-align: center;
    }
}


.encabezado__logo--drag {
    @extend .encabezado__logo__index;
    text-shadow: 2px 2px 7px black, 2px 2px 7px black;
    transition: filter .5s;
    &:hover {
        filter: brightness(1.3) contrast(1.3);
        text-decoration: none;
    }
}

.drag__img {
    display: flex;
    width: 100%;
    height: auto;
    img {
        width: 100%;
        @supports (object-fit: cover) {
            .drag__img img {
                height: auto;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
}

.drag__frases {
    @extend .drag__tabla;
    margin: auto;
    font-family: $tipografia-general;
    h2 {
        width: $split-screen;
        height: auto;
        font-family: $tipografia-general;
        line-height: normal;
        font-size: 3em;
        text-align: right;
        text-shadow: 2px 2px 7px black, 2px 2px 7px black;
    }
    ul {
        width: $split-screen;
        height: auto;
        list-style: none;
    }
}

.nav_drag {
    background-color: #050b03 !important;
    min-height: 3rem;
}


/* CONTACTO */

.contacto__contenedor {
    display: flex;
    width: 100%;
    img {
        width: $split-screen;
        height: auto;
        @supports (object-fit: cover) {
            .contacto img {
                height: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
}

.contacto__contenedor--textos {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    line-height: normal;
    font-family: $tipografia-general !important ;
    justify-content: flex-start;
    h1 {
        display: flex;
        width: 100%;
        height: auto;
        font-size: 7rem;
        color: #74cb4b;
        margin: 0%;
        padding: 0%;
    }
    h4 {
        display: flex;
        width: 100%;
        height: auto;
        font-size: 1rem;
        margin-top: 5%;
        color: aliceblue;
        margin: 0%;
        padding: 0%;
    }
    
}

form {
    width: $split-screen;
    display: flex;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: $tipografia-general;
}

.formContainer {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.formInput {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 2px solid #256602;
    border-radius: 0.2em;
    transition: border .2s;
    &:focus {
        border: 2px solid #57e40c;
    }
}

.formInputMensaje {
    resize: none;
}

.formBoton {
    font-family: inherit;
    font-size: 1rem;
    background-color: #80829b;
    color: #ffff;
    border: none;
    font-weight: 500;
    padding: .7em 0;
    border: .2em;
    cursor: pointer;
    border-radius: 0.2em;
    font-weight: bolder;
    text-shadow: 2px 2px 7px black;
    transition: border 0.2s background-color 0.2s;
    &:active {
        border: solid .1em;
        &:hover {
            background-color: #5d5f72;
        }
    }
}

.nav_contacto {
    background-color: #050b03 !important;
    min-height: 3rem;
}


/* LOOKS */

.galeria {
    display: grid;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.galeria__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 600px;
    grid-gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @supports (object-fit: cover) {
            .galeria__contenedor img {
                height: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
    }
}

.nav_looks {
    background-color: #050b03 !important;
    min-height: 3rem;
}

.galeria__contenedor img {
    -webkit-transition: all 600ms cubic-bezier(0.4, 0.25, 0.3, 1);
    transition: all 600ms cubic-bezier(0.4, 0.25, 0.3, 1);
    -webkit-filter: grayscale(0.9) brightness(0.7) contrast(1.35);
    filter: grayscale(0.9) brightness(0.7) contrast(1.35);
    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: none;
        z-index: 100;
    }
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .index {
        display: $display;
        flex-direction: column;
    }
    .encabezado__index {
        display: $display;
        flex-direction: column;
    }
    .encabezado__menu__index {
        position: relative;
        font-size: 78%;
        right: $posicion-menu + 10;
        justify-content: center;
        ul {
            margin: auto;
            padding: 0px;
        }
            li {
                list-style: none;
                margin: auto;
                text-align: center;
            }
        
    }
    .encabezado__index .encabezado__logo__index {
        display: flex;
        order: 1;
        position: relative;
        bottom: 400px;
    }
    .encabezado__logo__index {
        flex-direction: column;
        text-align: center;
    }
    .index__display {
        flex-direction: column;
        display: flex;
        width: 100%;
    }
    .index__derecha {
        position: relative;
        top: 94px;
        width: 100%;
        height: 400px;
        background-size: cover;
        align-items: center;
        order: 2;
    }
    .index__izquierda {
        width: 100%;
        height: auto;
        flex-direction: column;
        order: 3;
    }
    .encabezado {
        flex-direction: column;
    }
    .encabezado__menu {
        position: relative;
        right: $posicion-menu + 10;
        font-size: 71%;
        justify-content: center;
        text-align: center;
        right: 0px;
        ul {
            margin: auto;
            padding: 0px;
        }
            li {
                list-style: none;
                margin: auto;
                text-align: center;
            }
        
    }
    .encabezado__logo--drag,
    .encabezado__logo {
        text-align: center;
    }
    .index__contenedor--texto {
        flex-direction: column;
        font-size: 100%;
        h1 {
            font-size: 400%;
            flex-wrap: wrap;
        }
    }
    .biografia__1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        section {
            display: block;
            width: 100%;
            height: auto;
            margin: 0.5em;
            order: 1;
            font-size: 83%;
        }
        img {
            width: 100%;
            height: 200px;
            object-position: top;
            object-fit: cover;
        }
    }
    .biografia__1--texto1 {
        display: flex;
        flex-direction: column;
    }
    .biografia__1--titulo {
        width: 100%;
        margin-top: 0%;
        justify-content: center;
        font-size: 2em;
        text-align: center;
        flex-wrap: wrap;
        order: 2;
        position: relative;
    }
    .biografia__2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        section {
            display: block;
            width: 100%;
            height: auto;
            margin: 0.5em;
            font-size: 83%;
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
    }
    .biografia__3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        font-size: 80%;
        section {
            width: 100%;
            height: auto;
        }
        img {
            display: block;
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: center;
        }
    }
    .drag__tabla {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        h1 {
            width: 100%;
            font-size: 3em;
            margin-bottom: 3rem;
        }
        table {
            width: 100%;
        }
    }
    .drag__img {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: top center;
        }
    }
    .drag__frases {
        display: $display;
        flex-direction: column;
        h2 {
            width: 100%;
            height: auto;
            line-height: normal;
            font-size: 3em;
            text-align: center;
            order: 1;
        }
        ul {
            width: 100%;
            height: auto;
            list-style: none;
            margin: auto;
            text-align: center;
            object-position: center;
            order: 2;
        }
    }
    .contacto__contenedor {
        display: flex;
        flex-direction: column;
    }
    .contacto__contenedor--textos {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;

        h1 {
            font-size: 444%;
        }
    }
    .contacto img {
        width: 100%;
    }
    .galeria__contenedor {
        display: $display;
        flex-direction: column;
    }
}


$mapRedes: (youtube:#FF0000, facebook:#4267B2, instagram:#C13584, twitter:#1DA1F2);


@each $red, $color in $mapRedes {
    .#{$red} {
        color: $color;
    }
}